<mat-toolbar color="primary" class="mb-4">
  <div class="container-fluid">
    <div class="row">
      <span class="me-auto col col-auto d-flex justify-content-center align-items-center">
        Angular v.15 To-do App
      </span>
      <button
        class="col col-auto"
        mat-icon-button
        color="white"
        title="Add new Task"
        aria-label="Add new Task"
        (click)="openOffCanvas(content)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Add Task (Create)</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>

  <div class="offcanvas-body">
    <form class="col-sm-12 p-2" novalidate [formGroup]="taskForm" #formDir="ngForm">
      <div class="row mb-3">
        <!-- <fieldset class="form-group"> -->
        <label for="input-task-title" class="col-sm-12 mb-2">Title</label>
        <div class="col-sm-12">
          <input
            type="text"
            name="title"
            id="input-task-title"
            class="form-control"
            [class.is-invalid]="title.invalid && (title.dirty || title.touched)"
            formControlName="title"
            required
            aria-required="true"
          />
        </div>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger mt-4">
          <div *ngIf="title.errors?.['required']">Task Title is required.</div>
          <div *ngIf="title.errors?.['minlength']">Task Title must be at least 2 characters long.</div>
          <div *ngIf="title.errors?.['maxlength']">Task Title should be at most 40 characters long.</div>
        </div>
        <!-- </fieldset> -->
      </div>
      <button
        type="submit"
        [disabled]="taskForm.invalid"
        class="btn btn-primary"
        (click)="onTaskAddHandler(content, $event)"
      >
        Add Task
      </button>
    </form>
  </div>
</ng-template>

<button
  class="d-none d-md-block"
  id="add-new-task"
  mat-fab
  color="primary"
  title="Add new Task"
  aria-label="Add new Task"
  (click)="openOffCanvas(content)"
>
  <mat-icon>add</mat-icon>
</button>
