<main class="container-fluid">
  <div class="row">
    <form class="col-sm-12" novalidate [formGroup]="taskForm" #formDir="ngForm">
      <legend>Create a new Task</legend>
      <div class="row mb-3">
        <!-- <fieldset class="form-group"> -->
          <label for="input-task-title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" id="input-task-title" class="form-control"
              formControlName="title" required aria-required="true" />
          </div>
          <div *ngIf="title.invalid && (title.dirty || title.touched)"
              class="alert alert-danger">
            <div *ngIf="title.errors?.['required']">
              Task Title is required.
            </div>
            <div *ngIf="title.errors?.['minlength']">
              Task Title must be at least 2 characters long.
            </div>
            <div *ngIf="title.errors?.['maxlength']">
              Task Title should be at most 40 characters long.
            </div>
          </div>
        <!-- </fieldset> -->
      </div>
      <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary" (click)="onTaskAddHandler($event)">Add Task</button>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-task-list></app-task-list>
    </div>
  </div>
</main>
