<div *ngIf="draggable.handle" dndHandle class="cursor-grab"><mat-icon>drag_handle</mat-icon></div>
<span [class.completed-task]="task.completed">{{ task.title }}</span>
<div>
  <button
    type="button"
    class="btn border border-1 mx-1"
    title="{{ task.completed ? 'Mark as Incompleted' : 'Mark as Completed' }}"
    [class.completed]="task.completed"
    [class.incomplete]="!task.completed"
    (click)="toggleTaskComplete(task)"
  >
    <mat-icon>{{ task.completed ? 'timer' : 'done_outline' }}</mat-icon>
  </button>
  <button type="button" title="Delete Permantly" class="btn btn-danger" (click)="deleteTask(task)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
