/* You can add global styles to this file, and also import other style files */

@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cursor-grab {
  cursor: grab;
}

.border-dashed {
  border: 1px dashed black !important;
}
